:root {
  --main-color: #212121;
  --second-color: #757575;
  --title-display: none;
  --main-backgraund-color: #f5f5f5;
  --active-color: #2196f3;
  --second-becgraund-color: #2f303a;
  --line-color: #ececec;
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.address {
  font-style: normal;
}

.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*body portfolio*/
.header {
  border-bottom: 1px solid var(--line-color);
}
.wrapper {
  display: flex;
  align-items: center;
}
ul {
  list-style: none;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}

/*navigation sector*/

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 93px;
}
.logo-second-part {
  font-family: 'Raleway', sans-serif;
  color: #000000;
}

.navigation-item {
  position: relative;
  display: block;
  color: var(--main-color);
  margin-left: 0px;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header .nav-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-item:focus {
  color: var(--active-color);
}
.navigation-item:hover {
  color: var(--active-color);
}
.current {
  color: var(--active-color);
}

.navigation-item.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--active-color);
}

.contacts-list {
  margin-left: auto;
}

.cnt-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-item {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 10px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  fill: currentColor;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-item:hover,
.contacts-item:focus {
  color: var(--active-color);
}

.cnt-item {
  display: flex;
  align-items: center;
}

/*main section*/
.hero {
  margin-left: auto;
  margin-right: auto;
  height: 600px;
}
.owerlay {
  margin-left: auto;
  max-width: 1600px;
  margin-right: auto;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../image/index/heroimage.jpg);
}
.hero-section {
  background-color: #c4c4c4;
  padding: 200px 0;
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.hero-title {
  width: 696px;
  margin: 0 auto;
  color: var(--main-backgraund-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.benefits {
  padding-bottom: 0;
}
.benefits-list {
  display: flex;
  column-gap: 30px;
}
.benefits-item {
  max-width: 270px;
}

.benefits-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;
}
.tumb {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  align-items: center;
  border-radius: 4px;
}

/* OUR WORK */
.process-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}

.process-item {
  position: relative;
}

.process-list {
  display: flex;
  column-gap: 30px;
}

.benefits-text {
  line-height: 1.71;
  color: var(--second-color);
}

.wrapper-process {
  position: relative;
}

.process-text-about {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  width: 100%;
  height: 70px;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}
/*command specialist*/

.specialist-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.command-list {
  display: flex;
  column-gap: 30px;
}
.command-section {
  background: #f5f4fa;
}

.command-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
}

.command-description {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.position-specialist {
  font-size: 16px;
  line-height: 1.19;
  color: var(--second-color);
}

.social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 10px;
}

.social-icon {
  fill: currentColor;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover {
  background-color: var(--active-color);
  color: #ffffff;
}
/*button list*/
.btn-item {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  color: var(--main-color);
  background-color: #f5f4fa;
  letter-spacing: 0.03em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-item:hover,
.btn-item:focus {
  background-color: var(--active-color);
  color: white;
}
.hero-btn {
  display: block;
  font-family: inherit;
  margin: 0 auto;
  padding: 10px 32px;
  margin-top: 30px;
  min-width: 216px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background: #2196f3;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  justify-content: center;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--active-color);
  background-color: #ffffff;
}

/*examples of products*/
.example-list-name {
  display: block;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.example-list-about {
  font-size: 16px;
  line-height: 1.87;
  color: var(--second-color);
}

/* <!-- EXAMPLE-DESK --> */
.example-border {
  border: 1px solid #eeeeee;
  border-top: none;
  background: #ffffff;
  padding: 20px 24px;
}
.example-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.btn-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.example-btn {
  display: block;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  color: var(--main-color);
  border: none;
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.example-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-list-item:not(:last-child) {
  margin-right: 8px;
}
.example-btn:hover,
.example-btn:focus {
  color: #fff;
  background-color: var(--active-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.example-link:hover,
.example-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.team-wrapper {
  position: relative;
  overflow: hidden;
}

.team-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  backdrop-filter: blur(1px);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 500ms;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.team-text-overlay {
  font-weight: 400;
  color: #ffffff;
  padding-left: 24px;
  padding-right: 24px;
  letter-spacing: 0.03em;
  line-height: 1.5;
  font-size: 18px;
}

.example-item:hover .team-overlay {
  transform: translateY(0);
}
.example-item:focus .team-overlay {
  transform: translateY(0);
}

/* Our clients */
.clients-logo {
  fill: currentColor;
}

.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: #afb1b8;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover {
  color: var(--active-color);
}

/*footer section*/
.footer {
  background: var(--second-becgraund-color);
  padding: 60px 0;
}
.footer-list {
  margin-right: 70px;
}
.logo-footer {
  font-family: 'Raleway', sans-serif;
}
.logo .logo-footer-last {
  color: #ffffff;
}
.point-link {
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  color: #ffffff;
}
.footer-list-point {
  margin-top: 20px;
}
.footer-list-mail,
.footer-list-tel {
  display: block;
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

.footer-address {
  margin-top: 20px;
  font-style: normal;
  line-height: calc(24 / 14);
}
.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #fff;
}

.footer-social-link {
  color: white;
  display: flex;
  align-items: center;
  justify-items: center;
}

.footer-social-item {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list {
  display: flex;
  gap: 10px;
}
.footer-social-icon {
  display: flex;
  fill: white;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 auto;
}

.footer-social-item:hover,
.footer-social-item:focus {
  background-color: var(--active-color);
}
.footer .conteiner {
  display: flex;
  align-items: baseline;
}
.footer-link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--active-color);
}
/* Footer-form-send */
.form-footer-title {
  margin-bottom: 10px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-form-conteiner {
  margin-left: auto;
}
.email-input {
  padding-left: 16px;
  color: #fff;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-form {
  display: flex;
  align-items: center;
  gap: 12px;
}
.form-footer-title {
  color: #fff;
}
.email-input {
  width: 358px;
  height: 50px;
}

.footer-form-btn {
  display: flex;
  font-family: inherit;
  gap: 10px;
  min-width: 216px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background-color: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  justify-content: center;
  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #188ce8;
}
.icon-telegram {
  fill: #fff;
}
/* MODAL */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translateX(-50%) translateY(-50%);
  width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
  fill: var(--active-color);
}
.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-lable {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
}
.icon-wrap {
  position: relative;
}
.form-input {
  height: 40px;
  width: 100%;
  padding: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.form-name {
  display: block;
  margin-bottom: 4px;
  color: rgba(117, 117, 117, 1);
  letter-spacing: 0.01em;
  font-size: 12px;
}
.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.form-comment {
  margin-bottom: 20px;
}
.form-textarea {
  padding: 12px 16px;
  height: 120px;
  resize: none;
}
.form-agreement {
  display: flex;
  align-items: center;
  justify-content: center-;
  gap: 10px;
  margin-bottom: 30px;
}
.form-checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 3px;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='10' viewBox='0 0 13 10' fill='none' %3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.form-checkbox:checked {
  background-color: var(--active-color);
  border-color: transparent;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.form-agreement-text {
  user-select: none;
  color: #757575;
}
.form-agreement-link {
  color: var(--active-color);
}

.form-massege {
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  width: 448px;
  height: 120px;
}
.form-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--active-color);
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
  border-radius: 4px;
}
.form-btn:hover,
.form-btn:focus {
  background-color: #188ce8;
}
.form-input:focus + .form-icon {
  fill: var(--active-color);
}
.form-input:focus,
.form-textarea:focus {
  border-color: var(--active-color);
  transition-property: border-color;
}
