@import './utils/_variables';
@import './utils/placeholders';
@import './components/conteiner';
@import './components/menu';
@import './components/visually-hidden';
@import './components/header';
@import './components/logo';
@import './components/hero';
@import './components/benefits';
@import './components/directions';
@import './components/command';
@import './components/our-clients';
@import './components/footer';
@import './components/modal';
@import './components/example-desk';
