.benefits {
  @extend %section;
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }

  @media screen and(max-width:1199.98px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.benefits__conteiner {
  @extend %conteiner;
}
.benefits-list {
  display: flex;
  gap: 30px;
  @extend %list;
  @media screen and(max-width:1199px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}
// .benefits-item {
//   max-width: 270px;
// }
.benefits-item {
  @media screen and(min-width:768px) {
    width: 354px;
  }
}

.benefits-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;

  padding: 0 15px;

  @media screen and(min-width:1200px) {
    text-align: center;
  }

  @media screen and(max-width:767px) {
    text-align: center;
  }
}
.benefits-tumb {
  display: flex;
  justify-content: center;
  background-color: #f5f4fa;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
  margin-bottom: 30px;
  height: 122px;
  // @media screen and(max-width:767px) {
  //   width: 450px;
  // }
}
.benefits-text {
  padding: 0 15px;
  line-height: 1.71;
  color: var(--second-color);
}
