.benefits {
  padding-bottom: 0;
  @extend %section;
}
.benefits__conteiner {
  @extend %conteiner;
}
.benefits-list {
  display: flex;
  column-gap: 30px;
  @extend %list;
}
.benefits-item {
  max-width: 270px;
}

.benefits-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;
}
.benefits-tumb {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  align-items: center;
  border-radius: 4px;
}
.benefits-text {
  line-height: 1.71;
  color: var(--second-color);
}
