$mobile: 480px;
$tablet: 768px;
$desctop: 1200px;

%conteiner {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  //mobile screen
  @media screen and (min-width: $mobile) {
    width: 480px;
  }

  // tablet screen
  @media screen and (min-width: $tablet) {
    width: 768px;
  }

  // desctop screen
  @media screen and (min-width: $desctop) {
    width: 1200px;
  }
}
