.example {
  @extend %section;
}
.example__conteiner {
  margin: 0 auto;
  padding: 0 15px;
}

.example__btn-item:not(:last-child) {
  margin-right: 8px;
}

.example__btn-list {
  display: flex;
  align-items: center;

  margin-bottom: 50px;
  @extend %list;
  @media screen and(min-width:1200px) {
    justify-content: center;
  }

  @media screen and(max-width:767px) {
    flex-wrap: wrap;
    row-gap: 8px;
    margin-bottom: 40px;
  }
  @media screen and(min-width:768px) and(max-width:1199px) {
    padding: 6px 25px;
  }
}

.example__btn {
  display: block;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: var(--main-letter-spacing);

  color: var(--main-color);
  border: none;
  background-color: #f5f4fa;
  border-radius: 4px;

  transition-property: color, background-color, box-shadow;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: #fff;
    background-color: var(--active-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.example__desk-item {
  @media screen and(max-width:1199px) {
    width: 354px;
    padding: 0 15px;
  }
}
.example__team-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  backdrop-filter: blur(1px);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 500ms;
  transition-timing-function: var(--timing-function);

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.example__desk-list {
  display: flex;

  flex-wrap: wrap;

  @extend %list;
  @media screen and(min-width:1200px) {
    row-gap: 30px;
    justify-content: space-between;
  }
  @media screen and(max-width:1199px) {
    gap: 30px;
  }
  @media screen and(max-width:767px) {
    justify-content: center;
  }
  &:not(:last-child) {
    justify-content: center;
  }
}
.example__border {
  border-top: none;
  background: #ffffff;
  padding: 20px 24px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-grow: 1;
  }
}
.example__desk-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  @extend %link;
  @include border($color: #eeeeee);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
.example__desk-link:hover .example__team-overlay,
.example__desk-link:focus .example__team-overlay {
  transform: translateY(0);
}

.example__team-wrapper {
  position: relative;
  overflow: hidden;
}

.example__team-text {
  font-weight: 400;
  color: #ffffff;
  padding-left: 24px;
  padding-right: 24px;
  letter-spacing: var(--main-letter-spacing);
  line-height: 1.5;
  font-size: 18px;
}
.example__border-name {
  display: block;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.example__border-about {
  font-size: 16px;
  line-height: 1.87;
  color: var(--second-color);
}
