.logo {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 93px;

  @extend %link;
  & .logo__footer--second-part {
    color: #ffffff;
  }
  @media screen and(max-width: 1199px) {
    font-size: 24px;
    line-height: 1.16;
  }
}
.logo__header--second-part {
  font-family: var(--second-font);
  color: var(--main-color);
}
.footer_logo {
  display: block;

  margin: 0 auto;

  @media screen and(max-width: 1199px) {
    text-align: center;
  }
}
