.clients {
  @extend %section;
}
.clients__conteiner {
  @extend %conteiner;
}
.clients__title {
  @extend %title;
  @media screen and(max-width:1199.98px) {
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
  }
}

.clients__logo {
  fill: currentColor;
}

.clients__list {
  display: flex;
  justify-content: center;

  gap: 30px;
  @media screen and(max-width:1199px) {
    flex-wrap: wrap;
  }
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  @include border($color: currentColor);

  border-radius: 4px;
  color: var(--social-icone-color);
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  @extend %link;

  &:hover {
    color: var(--active-color);
  }

  @media screen and(min-width:$tablet) {
    width: 170px;
  }
  @media screen and(min-width:$tablet) and(max-width:1199px) {
    width: 226px;
    height: 92px;
  }
}
